.header
	position: relative
	display: flex
	flex-direction: column
	justify-content: space-between
	box-sizing: border-box
	min-height: 768px
	height: 100vh
	padding: 20px 60px 40px
	background-image: linear-gradient(to top right, $light-blue 5%, $blue)
	background-color: $blue
	color: #fff
	&__content
		margin-bottom: 12.36vh
	&__social
		position: absolute
		right: 60px
		bottom: 125px
	&__dandelion
		position: absolute
		right: 0
		top: 0
		width: 31.919%
		height: 50%
		& svg
			width: 100%
			height: 100%

.logo
	width: 138px
	height: 75px
	margin-bottom: 9.11vh
	&__link
		display: block
		width: 100%
		height: 100%
		& svg
			width: 100%
			height: 100%

.header-content
	position: relative
	&__text
		position: absolute
		left: 55%
		bottom: 10px
		max-width: 450px
		margin: 0
		color: #fff
	&__title
		opacity: 0
		min-height: 100%
		max-width: 900px

.menu
	position: relative
	display: flex
	flex: 0 0 auto
	height: 45px
	z-index: 1
	color: #fff
	+Cinetype
	transition: transform 0.3s
	&._scrolled
		color: #000
		& .menu__block._hide
			opacity: 0
		& .menu__logo
			opacity: 1
	&__logo
		position: absolute
		left: 0
		top: 0
		opacity: 0
		margin-top: -30px
		width: 138px
		height: 75px
		& svg
			width: 100%
			height: 100%
	&__item
		line-height: 1.4
	&__link
		@extend .underline-link
		display: inline-block
		color: inherit
		font-weight: 600
		text-decoration: none
		&._reg
			font-weight: 400
		&._mt
			margin-top: 5px
	&._scrolled
		color: #000
		transform: translateY(160px)

.nav
	counter-reset: menu-counter
	display: flex
	flex-direction: column
	flex-wrap: wrap
	margin-left: 50px
	&__item
		flex: 0 0 auto
		height: calc(50% - 3px)
		&:nth-child(n+3)
			margin-left: 55px
		&:not(:nth-child(odd))
			margin-top: 5px
	&__link
		&:before
			content: '0'counter(menu-counter)
			counter-increment: menu-counter
			display: inline-block
			font-weight: 400
			margin-right: 7px

.sub-nav
	margin-left: auto
	&__item
		text-align: right

.social
	display: flex
	flex-direction: column
	&__link
		display: block
		width: 14px
		height: 14px
		background-repeat: no-repeat
		&:not(:last-child)
			margin-bottom: 30px
		& svg
			max-width: 100%
			max-height: 100%
			fill: #fff
			transition: fill 0.3s
		&._md
			width: 13px
		&._tw
			height: 12px
		&:hover
			& svg
				fill: $mint
				transition: none
