.press
	padding-top: 75px
	padding-bottom: 75px
	&__title
		margin-bottom: 20px

.press-list
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	&__link
		+box
		position: relative
		display: flex
		width: 190px
		height: 120px
		padding: 40px 25px
		border: 1px solid rgba($blue, 0.3)
		border-radius: 8px
		&:before
			opacity: 0
		&:hover
			background-blend-mode: color-burn
			&:before
				opacity: 1
				transition: none
	&__logo
		max-width: 100%
		max-height: 100%
		object-fit: contain
		z-index: 1