.solutions
	padding: 213px 0 140px
	background-color: $light-gray
	&__title
		width: 62%
	&__subtitle
		width: 62%
		margin-top: 40px
	&__list
		margin-top: 120px
		padding: 0 40px 0 245px

.solution-list
	counter-reset: solution-counter

.solution
	&:before
		content: '0'counter(solution-counter)
		counter-increment: solution-counter
		+Cinetype
		font-size: 12px
		color: $blue
	&:nth-child(odd)
		&:before
			margin-left: 35%
		& .solution__text
			margin-left: 35%
		& .solution__title
			margin: 0 40px
	&:not(:last-child)
		margin-bottom: 125px
	&__block
		display: flex
		align-items: center
	&__line
		flex: 1 0 auto
		height: 1px
		background-image: linear-gradient(to right, rgba($blue, 0.2), $blue)
		&:first-child
			flex-basis: calc(35% - 40px)
			flex-grow: 0
	&__title
		position: relative
		margin-right: 40px
	&__text
		font-size: 14px
		max-width: 510px
