// .pseudo
// 	color: #000
// 	border-bottom: 1px dotted
// 	cursor: pointer
// 	&:hover
// 		color: #333
// 		border-bottom: 1px dotted transparent

html
	&._popup-opened
		overflow: hidden

.clearfix
	// zoom: 1
	&:after
		content: " "
		display: block
		height: 0
		clear: both
		visibility: hidden
		font-size: 0

.invisible-container
	position: absolute
	top: -9999px
	left: -9999px
	width: 0
	height: 0
	overflow: hidden
	z-index: -1

// .video-container
// 	position: relative
// 	padding-bottom: 56.25%
// 	padding-top: 30px
// 	height: 0
// 	overflow: hidden
// 	iframe, object, embed
// 		position: absolute
// 		top: 0
// 		left: 0
// 		width: 100%
// 		height: 100%

.no-select
	user-select: none

.no-pe
	pointer-events: none

// .dragging, .dragging *
// 	cursor: ew-resize
// 	cursor: grabbing
// 	cursor: -moz-grabbing
// 	cursor: -webkit-grabbing
// 	cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAACVBMVEUAAAD///8AAABzxoNxAAAAAXRSTlMAQObYZgAAADFJREFUCNdjQAeLuhgYmCJTFzAwhYbOYGCYGhrBwAQiOEMhRAJIIgEk0cDAoAoj4AAA6jIM345/MPUAAAAASUVORK5CYII='), auto

// .draggable, .draggable *
// 	cursor: ew-resize
// 	cursor: grab
// 	cursor: -moz-grab
// 	cursor: -webkit-grab
// 	cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAADFBMVEUAAAD///8AAADAwMAJ6vS1AAAAAXRSTlMAQObYZgAAAEVJREFUCNctxLENgDAMRcEndxkkFfMYQUeTAqZwCQN8j8CcxBLFHVhMzwXtHFHd2D7eKlnkScpXJN/oPmt/B1YhD+gV8AEVfxL3aRgilwAAAABJRU5ErkJggg=='), auto

.static-text
	p
		margin-bottom: 1.4em
	img
		max-width: 100%

@keyframes rotating
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)

// Linear png spinner
%spinner
	width: 20px
	height: 20px
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAALVBMVEUAAABra2toaGhsbGxra2tsbGxra2tsbGxsbGxsbGxra2tsbGxra2tra2tsbGzKmJSYAAAAD3RSTlMAQw0aW4c2vq2YechqK+kA+co8AAAAd0lEQVQI12NgYGDyKGeAAr8pggwMCiAWZxOQgLA9GGCAsQhCMzEwaCdAxQwYXGHSRgwTYUxlhk0wJhvDBgSzAG4UQxOCGQZjmjHIwJjJDJoGUKYAA2MAVOkFBgYviLAgiBsMYrFcAJGpzgwMhmchzpMKXXUQ6HIArngPcG/qBmMAAAAASUVORK5CYII=')
	opacity: 1
	animation: rotating 0.65s linear infinite

.animated
	@extend .transition-active
	&:hover
		@extend .transition-hover

.transition-active
	transition: color $default-transition-duration $default-transition-function, background $default-transition-duration $default-transition-function, border-color $default-transition-duration $default-transition-function, fill $default-transition-duration $default-transition-function

.transition-hover
	transition: none

.force3D
	transform: translate3d(0,0,0)
	backface-visibility: hidden

.text
	margin-top: 40px
	font-size: 16px
	letter-spacing: -0.8px
	line-height: 1.9
	opacity: 0.6
	+max-screen($breakpoint-sm)
		margin-top: 30px
		font-size: 14px

.title
	+Sectra
	font-size: 124px
	font-weight: 400
	line-height: 0.9
	+max-screen($breakpoint-md)
		font-size: 92px
	+max-screen($breakpoint-sm)
		font-size: 47px

.title-md
	+SectraBook
	font-size: 64px
	line-height: 1
	&__highlight
		color: $blue
	+max-screen($breakpoint-md)
		font-size: 48px
	+max-screen($breakpoint-sm)
		font-size: 32px

.title-sm
	+SectraBook
	font-size: 48px
	+max-screen($breakpoint-md)
		font-size: 36px
	+max-screen($breakpoint-sm)
		font-size: 28px

.title-xs
	+Cinetype
	font-size: 14px
	font-weight: 700

.section
	position: relative
	&__content
		position: relative
		max-width: 1366px
		margin: 0 auto
		padding-left: 60px
		padding-right: 60px
	&__title
		position: absolute
		top: 50%
		left: -195px
		+SectraBook
		font-size: 124px
		color: $blue
		transform: rotate(90deg)
	+max-screen($breakpoint-sm)
		&__content
			padding-left: 20px
			padding-right: 20px
	+max-screen($breakpoint-sm)
		&__title
			left: -152px
			font-size: 95px

._gradient
	position: relative
	z-index: 0
	&:before
		content: ''
		position: absolute
		left: -1px
		top: -1px
		z-index: -1
		width: 100%
		height: 100%
		border: 1px solid transparent
		border-radius: 8px
		background: linear-gradient(317deg, rgba($blue, 0.7), $blue)
		transition: 0.3s

._block-highlight
	display: block
	color: $mint

._light
	color: $mint

._highlight
	color: $blue

._border
	border: 1px solid rgba($blue, 0.3)
	border-radius: 8px

.btn
	@extend ._border
	padding: 20px 33px
	+Cinetype
	font-size: 18px
	font-weight: 700
	color: currentColor
	background: none

.underline-link
	@extend .animated
	&:after
		content: ""
		display: block
		padding-top: 3px
		border-bottom: 1px solid transparent
		background-color: transparent
		transition: border 0.3s
	&:hover
		color: inherit
		&:after
			border-color: currentColor
			transition: none

.grecaptcha-badge
	display: none

.no-scroll
	-webkit-overflow-scrolling: touch
	&::-webkit-scrollbar
		width: 0px
		background: transparent
	&::-webkit-scrollbar-thumb
		background: transparent
